<div class="row">
  <div class="span8">
    <%= render :partial => "reminder_list", :locals => { :reminders_array => @all_reminders} %>
  </div>
  <div class="span4">
    <% if admin_signed_in? %>
    <%= render :partial => "new_reminder_form", :locals => { :users_array => @all_users} %>
    <% else %>
    <%= link_to "Sign in as Admin to create Task", new_admin_session_path %>
    <% end %>
  </div>
</div>