<footer class="footer">
  <small>
    <a href="https://twitter.com/BingWithoutG">Later</a>
    by Bin Liu @CMU
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://www.crushnuts.com/">More</a></li>
    </ul>
  </nav>
</footer>